.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0 5%;
    .logo {
      height: 50px;
      @media screen and (max-width: 550px) {
        height: 20px;
      }
    }
    .menu-container {
      display: flex;
      justify-self: flex-end;
      margin-right: 100px;
      
      @media screen and (max-width: 550px) {
        margin-right: 20px;
      }
      .menu {
        color: #ff6060;
        display: flex;
        margin-left: 50px;
        text-decoration: none;
        border-bottom: 1px transparent solid;
        @media screen and (max-width: 550px) {
          margin-left: 20px;
        }
      }
      .active {
        border-bottom: 1px #ff6060 solid;
      }
      
    }
  }