
      .img-container {
        width: 30%;
        min-height: 200px;
        height: 300px;
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        margin: 20px;
        padding: 0;
        @media screen and (max-width: 1343px) {
          margin: 10px 0;
          width: 100%;
        }
        .img-bg {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
        .loc-title {
          position: absolute;
          color: white;
          padding-left: 20px;
          max-width: 200px;
          font-weight: 400;
          background: rgba(0, 0, 0, 0.342);
          border-radius: 5px;
        }
      }