.appartments {
  padding: 0 5%;
  .apt-details {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1343px) {
      flex-direction: column;
    }
    .name-and-filters {
      display: flex;
      justify-content: space-between;
      color: #ff6060;
      flex-direction: column;
      .name-location {
        .name {
          margin: 0;
          font-size: 40px;
        }
        .location {
          margin: 0;
          font-size: 16px;
        }
      }

      .filters {
        display: flex;
        padding: 0;
        .filter {
          margin-right: 20px;
          list-style-type: none;
          background: #ff6060;
          padding: 5px 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20px;
          color: white;
          border-radius: 10px;
        }
      }
    }
      .stars-and-owner {
        @media screen and (max-width: 1343px) {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          margin-bottom: 10px;
        }
        .starClass{
          @media screen and (max-width: 1343px) {
            padding-left: 0;
          }
        }
        .owner {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .owner-picture {
            border-radius: 100%;
            height: 64px;
            width: 64px;
          }
          .owner-name {
            width: 70px;
            margin: 0 10px 0 0;
            color: #ff6060;
          }
        }
      }
    }
  }
  .Toggles {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1343px) {
      flex-direction: column;
    }
    .toggle {
      width: 47%;
      margin: 0;
      @media screen and (max-width: 1343px) {
        width: 100%;
        margin-bottom: 30px;
      }

      .equipment {
        list-style-type: none;
      }
    }
  }

